[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple/"

[dev-packages]

[packages]
tensorflow-gpu = "==1.0.1"
keras = "==1.2.1"
ipython = "==4.1.2"
scipy = "*"
numpy = "*"
sklearn = "*"
pandas = "*"

[requires]
python_version = "2.7"
